*{
    margin: 0;
    padding: 0;
}

/*body { position:absolute; top:0; bottom:0; right:0; left:0; }*/

.header{
    /*border: 3px solid #73AD21;*/
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    background-color:#fff;
    z-index: 2;
    /*border-bottom: 1px solid darkgrey;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.main{
    position: absolute;
    width: 100%;
    font-size: 0rem;
    padding-top: 3rem;
    /*border: 3px solid rgb(204, 21, 60);*/
}

.sidebar{
   
    width: calc(20% - 3px);
    height: -webkit-fill-available;
    box-shadow: -1px 0px 8px grey;
    padding-right: 3px;
    position: sticky;
    top:3rem;
    /*margin-top: 3rem;*/
    left: 0;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    max-width: 300px;
    transition: max-width 1.5s;
    overflow-y: auto;
    /*float: left;    */
}

.content{
    background-color: #fff;
    width: 80%;
    top:3rem;
    left:20%;
    font-size: 1.5rem;
    display: inline-block;
    /* margin-top: 3rem; */
   transition: width 1.5s;
    /*padding:1rem;*/
    /*float: right;*/
}
.content1{
    padding: 1rem;
}

.sidebar a{
    display: block;
    height: 1.25rem;
    padding: .5rem;
    text-decoration: none;
    padding-left: 3rem;
    padding-top: 0.8rem;
    color: #6e6e6e;
}
.sidebar a:hover{
    background-color: #dbdbdb;
    color: #1976d2;
    text-shadow: 0 0 5px #fff;
    border-radius: 0rem 0.7rem 0.7rem 0rem;
}

.collapsein {
    
    width: 100%;
    height: 1rem;
    overflow: hidden;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-transform: uppercase;
    font-family: auto;
    background-color: #fff;
    
}
.collapsible:hover{
    background-color: #4285f466;
}
.collapsein:after {
    content: '>';
    color: #1a73e8;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    transition:content 1s, transform 1s;
}
.collapsible{
    padding: 1rem 2rem;
    background-color: #fff;
    color: #1a73e8;
    cursor: pointer;
}
.open:after {
 transform: rotate(90deg);
}
.open{
    background-color: #4285f466;
}
.submenu{
    display: block;
    max-height: 0;
    transition: max-height 1s;
    overflow: hidden;
}
.nav li{
    display: inline-block;
}
.nav li a:hover{
    background-color: #1a73e8;
    color: #fff;
}
.active{
    background-color:green;
    color: #fff;
}
.nav li a.active:hover{
    background-color:green;
    color: #fff;
}

.navbar-header {
   
    position: absolute;
    height: 2rem;
    width: 20%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}
.navbar-brand{
    color: #f4511e;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.options{
    position: absolute;
    right: 0;
    margin-right: 1rem;
    height: 3rem;
}
.nav{
    margin-top: 1rem;
}
li a{
    background-color: rgba(66,133,244,0.149);/* #28a745;*/
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    /*border: 1px solid #28a745;;*/
    border-radius: 0.2rem;
    color:#1a73e8; /* #fff;*/
    font-weight: bold;
    transition-duration: 1s;
}